.header {
  background: #0d0d0d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  position: relative;
}

.newAssignmentForm {
  position: absolute;
  bottom: -27px;
  width: 100%;
  max-width: 736px;
  display: flex;
  flex-direction: row;
  align-items: stretch; 
  flex-wrap: wrap;
  gap: 8px;
  padding: 0 1rem;
  align-items: flex-start;
}

.newAssignmentForm input {
  height: 54px;
  flex: 1;
  color: #fff;
  background: #262626;
  border: 1px solid #0d0d0d;
  border-radius: 8px;
  padding: 0 16px;
  font-size: 16px;
}

.newAssignmentForm input::placeholder {
  color: #808080;
}

.newAssignmentForm button {
  height: 54px;
  padding: 0 16px;
  background: #8284fa;
  color: #fff;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
}

.newAssignmentForm button:disabled {
  cursor: not-allowed;
  background: gainsboro;
  color: #aba7a7;
}

.datePickerWrapper label {
  color: #fff;
}

.datePickerWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 54px;
}

.datePickerButton {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #444;
  background: #1e1e1e;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.datePickerPopup {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: #1e1e1e;
  border-radius: 8px;
  padding: 0.5rem;
  margin-top: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
